html, body {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 4em;
    font-family: 'Inter var', sans-serif;
    font-size: 30px;
    color: #000000;
    background: #ebecee;
  }

  .wrapper {
    padding-bottom: 5em;
  }

  svg {
    overflow: visible;
    fill: #000000;
  }

  svg text {
    user-select: none;
  }

  .description {
    max-width: 60em;
    margin-bottom: 2.9em;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.4em;
    opacity: 0.5;
  }


.source {
    position: absolute;
    bottom: 3em;
    left: 3em;
    opacity: 0.5;
    font-size: 0.8em;
    font-style: italic;
  }

  .source a {
    color: inherit;
  }

  .category-path {
    fill: none;
    stroke: white;
  }

  .start-label {
    text-anchor: end;
    dominant-baseline: middle;
  }

  .start-title {
    text-anchor: end;
    font-size: 0.8em;
    opacity: 0.6;
  }

  .ending-marker {
    opacity: 0.6;
  }

  .marker {
    mix-blend-mode: multiply;
  }

  .value {
    font-size: 0.8em;
  }

  .label {
    font-weight: 600;
    dominant-baseline: middle;
  }

  .ending-bar {
    transition: all 0.3s ease-out;
  }

  .ending-value {
    font-size: 0.7em;
    text-anchor: end;
    font-weight: 600;
    font-feature-settings: 'tnum' 1;
  }

  .legend {
    font-size: 0.8em;
    opacity: 0.6;
    dominant-baseline: middle;
  }

  .legend-text-left {
    text-anchor: end;
  }

  .legend-line {
    stroke: grey;
    stroke-width: 1px;
  }
